body {
    margin: 0;
    padding: 0;
    font-family: 'Anton', sans-serif;
}
h1 {
    margin: 0 auto;
    font-weight: 300;
    color: #373737;
}
/******************************
*** GRADIENT SECTION BORDER ***
*******************************/
.section_border {
    border-bottom: 10px solid transparent;
    -moz-border-image: -moz-linear-gradient(90deg, #A239CA 0%, #4717f6 100%);
    -webkit-border-image: -webkit-linear-gradient(90deg, #3acfd5 0%, #3a4ed5 100%);
    border-image: linear-gradient(90deg, #F81884 0%, #4717f6 60%);
    border-image-slice: 1;
}


.header {
    width: 100%;
    height: 100vh;
    background: #f4f4f4;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.logo {
    width: 50%;
    height: 50%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr,1fr;
    font-family: 'Anton', sans-serif;
    position: absolute;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    border: 15px solid transparent;
}
.logo_border {
  -moz-border-image: -moz-linear-gradient(top, #A239CA 0%, #4717f6 100%);
  -webkit-border-image: -webkit-linear-gradient(top, #3acfd5 0%, #3a4ed5 100%);
  border-image: linear-gradient(to bottom, #F81884 0%, #4717f6 100%);
  border-image-slice: 1;
}

@keyframes animatedgradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
.logo h1 {
    font-size: 10vw;
    margin: 0 auto;
    position: relative;
    font-weight: 300;
    top: 3vh;
    color: #373737;
}
.logo h2 {
    font-size: 5.7vw;
    margin: 0 auto;
    position: relative;
    font-weight: 300;
    top: -4.5vh;
    color: #373737;
}
.insidetext {
    font-size: 1.5vh;
    font-family: 'Anton', sans-serif;
    font-weight: 100;
    background: #f4f4f4;
    color: #373737;
    position: relative;
    top: 26vh;
    padding: 0 10px;
}
@media only screen and (max-width: 768px) {
    .logo {
        width: 80%;
        grid-template-rows: auto;
    }
    .logo h1 {
        font-size: 13.8vh;
        top: 7.7vh;
    }
    .logo h2 {
        font-size: 7.9vh;
        top: -6vh;
    }
}

.about {
    width: 100%;
    height: 100vh;
    background: #f4f4f4;
    text-align: center;
}
.section_title {
    font-size: 7vh;
    padding-top: 20px;
}
.icons {
    font-size: 250px;
    filter: grayscale(100%);
}
.icons:hover {
    filter: grayscale(0%);
}
.fa-html5 {
    color: #E34C26;
}
.fa-css3-alt {
    color: #
}
.fa-js {
    color: #f7df1e;
}
